.todolist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.head {
  margin: 5px auto;
  width: fit-content;
  margin-bottom: 20px;
}
.todo-input {
  padding: 10px 20px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #181818;
  outline: none;
  width: 320px;
  background: transparent;
  /* color: #fff; */
}
.inputButton {
  display: flex;
  justify-content: center;
}
.todo-button {
  padding: 12px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: #181818;
  color: #fff;
  text-transform: capitalize;
}
